body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.navaaa {
  background-color: black;
  padding-bottom: 80px;
  padding-top: 20px;
}

.navbar {
  background-color: lightslategray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.logo img {
  width: 50px;
  height: 50px;
}
.logo-pin {
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.mobile-menu {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

.mobile-links {
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #333;
  width: 100%;
  display: none;
  padding: 10px;
}

.mobile-links.show {
  display: block;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s; /* Add transition for smooth hover effect */
}

.nav-links li a:hover {
  color: #ff005d; /* Change the link color on hover */
}

/* Existing CSS styles */

.mobile-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s; /* Add transition for smooth hover effect */
}

.mobile-links li a:hover {
  color: hsl(349, 100%, 50%); /* Change the link color on hover */
}
.ica {
  text-align: center;
  color: lightblue;
  padding-top: 50px;
  padding-bottom: 20px;
}
.mama {
  font-size: 50px;
}
.mimi {
  font-size: 20px;
}
.pypy {
  text-align: center;
  list-style: none;
}
.about {
  background-color: burlywood;
}

section {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: bu;
}

.divider .my-4 {
  color: white;
}
.psst {
  color: black;
  padding-left: 20px;
  padding-top: 0px;
  font-size: 17px;
  margin-left: 30px;
}
.imgimg {
  padding-left: 30px;
}
.contact-box {
  text-align: center;
}
.footerAA {
  background-color: lightskyblue;
  padding-bottom: 80px;
  padding-top: 20px;
}
.footer {
  background-color: lightskyblue;
  color: #fff;
  text-align: center;
  padding: 20px;
  line-height: 50px;
}
.footer-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.footer a {
  color: black;
  text-decoration: none;
  margin: 10px 30px 30px 30px;
  padding-right: 60px;
}
.phone {
  background-color: aqua;
  color: black;
}
